.byop-app--header{
  background-color: var(--color-grey-mid);
  height: 50px;
  z-index: 200;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
}

.byop-app--header-logo {
  height: 50px;
  max-width: 300px;
  padding-left: 20px;
}
 /* One off colours & fonts for the React London Branding */
.byop-header--react-london {
  padding-top: 6px;
  font-weight: bold;
  font-size: 30px;
  color: rgb(97, 218, 251);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

}
.byop-app--header-x {
  padding-top: 6px;
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px
}
