.byop-app__counter {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  color: var(--color-white);
  text-shadow: var(--text-shadow)
}
